.dialogLoading{
    width: 264px!important;
    height: 318px!important;
    visibility: hidden;
    z-index: 1005;
    display: block;
    border: 0!important;
    background: transparent url(http://spexia.com.br/spxcondominio/SPEXIA-white.gif)!important;
    box-shadow: none!important;
    background-size: 80%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    opacity: 0.4!important;
}
body {
    background: #f3f3f4;
    overflow-y: hidden;
    min-width:1280px;
}

#ctl00_MSO_ContentDiv{width:100%}

/* Cor Font */
.ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content {color:#676a6c}

/*LOADING*/
.ui-dialog-title, .ui-dialog-titlebar + div{
    display: none;
}

#header, .ui-menu.ui-menubar {
    border-radius:0;
    border: 0!important;
    background: #233645;
}
#header .ui-menu.ui-menubar{
    padding: 0;
}
.ui-paginator-bottom{
    background: #fff;
    border: 0;
    margin: 25px 0;
}
.ui-menu.ui-widget li>.ui-menuitem-link{
    background:transparent !important;
    border:0 !important;
    color: #CBCDCB !important;
}
.ui-menu.ui-widget li>.ui-menuitem-link.ui-state-hover{
    background:transparent !important;
    border:0 !important;
    color: #fff !important;
}
.ui-menu.ui-widget a{
    color: #CBCDCB;
}
#header{
    border-bottom: 1px solid #E7EAEC !important;
    margin: 0;
    float: left;
    width: 220px;
    height: 100vh;
}
.boxintro_start, .s4-notdlg,.topMenu, #footer img, .ui-paginator-top, .boxLogin img {display:none!important;visibility:hidden}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {border: 1px solid #e5e6e7;border-radius:0;}
#conteudo,.ui-widget-content {border:0;}

#conteudo {
    float: left;
    margin: 40px 0 0 15px !important;
    border-radius: 0;
    box-shadow: none;
	border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    width: 1000px;
    padding-bottom: 0;
}
.campos-login{outline:none}

#content{
    max-width:1000px;
    float:left;
    margin-left: 20px;
}
#footer{
    float: left;
    /*width: calc(100% - 220px);*/
    width: 100%;    
    margin-top: 20px;
}
.boxLogin{
    background-image: url(http://spexia.com.br/spxcondominio/Spexia-logo.png);
    background-repeat: no-repeat;
    background-size: 179px;
    padding-top: 184px;
    background-position: center top;
    border: 0;
}   

/* BTN */
.ui-paginator-page, .ui-button.ui-state-default, #btnLogin, .ui-button-text ui-c{
    background: #00B2B2;
    border-color: #00B2B2;
    color: #FFFFFF;
    text-shadow: none;
}
.ui-paginator-page.ui-state-default.ui-corner-all {background:#fff!important; border-radius:0!important; padding:5px 8px; border:1px solid #ccc!important}

#btnLogin:hover, .ui-button-text ui-c:hover{
    opacity: 0.8;
}

/* GRID */
h3, datatable .ui-datatable-header {
    border-bottom: 0px none;
    border: 0;
    background: #fff;
    text-align: left;
    font-size: 1.9em;
    font-weight: normal;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    background: #fff;
    border: 0;
    border-top: 1px solid #e7eaec;
}
.ui-datatable .ui-datatable-odd{
 background: none #f9f9f9;   
}

/* LEFT MENU */
#header .ui-menu.ui-menubar {
    padding-top: 20px!important;
    background-image: url(http://webapplayers.com/inspinia_admin-v2.7.1/css/patterns/header-profile.png)!important;
    background-repeat: no-repeat;
    background-position: top left;
}
#header .ui-menu.ui-menubar::before{
    content: " ";
    background-color: #fff;
    background-image: url(http://i302.photobucket.com/albums/nn100/fshark/spx/logo-manhattan.png)!important;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    display:block;
    border-radius: 60px;
    padding-top: 0px;
    margin-bottom: 10px;
}


.ui-menu.ui-widget li.ui-corner-all, .ui-menu.ui-widget a.ui-corner-all {
    width: 100%;
    padding: 3px 5px;
    display: block!important;
}
.ui-widget-content .ui-icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.ui-menuitem-link:hover .ui-icon{
background-image: url(http://52.36.225.121:8080/neighbor/resources/css/primefaces-bootstrap/images/ui-icons_333333_256x240.png)!important;
}
.ui-menu .ui-menu-parent .ui-menu-child{
  position:relative!important;
  display:block!important;
  visibility:visible!important;
    top:auto!important;
    left:auto!important;
    background:transparent!important;
    border:0!important;
    padding: 0 0 0 15px!important;
    box-shadow: none!important;
}
#header .ui-menu.ui-menubar > ul > li{border-left: 4px solid #19aa8d !important;}

.ui-menu .ui-menu-parent .ui-menu-child .ui-menuitem{
    padding: 0px !important
}
.ui-menu.ui-widget .ui-separator {
        opacity: 0.1!important;
    border-bottom: 0!important;
}
a.ui-menuitem-link .ui-icon-triangle-1-s,
a.ui-menuitem-link .ui-icon-triangle-1-e {display:none!important}

/* GRID */
.layoutCadMorador tr {
    border: none;
    display: inline-block;
    width: 100%;
    clear: both;
}